.page-content {
	margin: 15px;
	font-family: 'Arvo', serif;
}

#nope {
	text-align: center;
	color: white;
	background: rgba(240, 173, 78, 0.8);
	padding: 5px;
	border: 1px solid white;
}

#roomieListMaster {
	height: 500px;
}

#messageBoardMaster {
	height: 500px;
}

#submitButton {
	border: 1px solid white;
	margin-bottom: 7px;
}

#email, #password, #name, #address, #phone, #loginbtn {
	margin-bottom: 5px;
}

#showLogin, #logout {
	margin: 7px;
}

#editBillList {
	border: 1pt solid black;
	background-color: #e7e7e7;
	margin-bottom: 4px;
}

#messageBoard {
	padding: 15px;
	min-height: 370px;
	padding-top: 10px;
	border: 1px solid white;
	background: rgba(240, 173, 78, 0.8)
}

#messageEntry {
	margin-bottom: 5px;
	background: rgba(0,0,0,0.8);
	color: white;
}

#messageBox {
	min-height: 275px;
	background-color: white;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px
}

#listContainer {
	width: 1300px;
	margin: auto;
	padding: 5px;
	color: white;
	background: rgba(240, 173, 78, 0.8);
}

#billButton {
	color: white;
	font-weight: bold;
	border: solid 1px white;
}

#navmaster {
  padding: 3px;
  padding-bottom: 0px;
}

.navbar {
  padding: 0px;
}

#jumbotron {
	width: 100%;
	color: white;
	background: rgba(240, 173, 78, 0.7);
}

#calendar {
	width: 95%;
	margin: auto;
	margin-top: 0px;
	background-color: white;
	padding: 0px;
}

body {
	padding: 0px;
	background-image: url("/static/images/painted-ladies.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


footer {
  text-align: center;
  height: 70px;
}