{% extends "base.html" %}
{% block content %}
<title>RoomEase: Add Bill</title>
<div class="page-content">
  <h3>Add a New Bill</h3>
  <form class="form-group" action="/add_bill_handler">
    <label for="description">Description: </label>
      <input class="form-control" type="text" name="description" id="description" data-validate="required" placeholder="Ex: Water, Power, Cable..."><br>
    <label for="due_date">Due Date: </label>
      <input class="form-control" type="date" min="2015-08-14" name="due_date" id="due_date" data-validate="required">
      <br>
    <label for="amount">Amount: </label>
      <input class="form-control" type="text" name="amount" data-validate="required,currency" id="amount"><br>
    <button class="btn btn-warning" type="submit">Submit</button>
  </form>
</div>
{% endblock %}