<!DOCTYPE html>
<html>
<head>
  <!-- JQuery Source -->
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <!-- Bootstrap Source -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  
  {% block head %}
  {% endblock %}
  
  <style>
    #logo {
      padding: 1px;
      width:50px;
      height:50px;
    }

    #navmaster {
      padding: 3px;
      padding-top: 2px;
    }

    header {
      height: 100%;
    }

    footer {
      text-align: center;
    }
  </style>

</head>

<body>
  <header>
    <div id="navmaster">
      <nav class="navbar navbar-default img-rounded">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a href="/"> <img id="logo" class="navbar-brand" href="#" src="./static/images/newlogo.png"></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/calendar">Calendar<span class="sr-only">(current)</span></a></li>
              <li><a href="/roomies">Roomies</a></li>
              <li><a href="/bills">Bills</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/my_profile">My Profile</a></li>
              {% if 'email' not in session %}
                <li>
                  <button class="btn btn-warning" id="showLogin">Log In</button>
                </li>
              {% else %}
              <li>
                  <form action="/logout" method="POST">
                    <input class="btn btn-warning" type="submit" id="logout" value="Log Out">
                  </form>
                </li>
          {% endif %}

              <li class="dropdown"></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <ul>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  
  <div id="login_modal" class="modal fade main-image-modal in" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body text-center form-group">
      <form id="loginform" name="loginform" method="POST" action="/login_handler">
            <input type="text" name="email" id="email" class="form-control" tabindex="1" placeholder="Email"> 
            <input type="password" name="password" id="password" class="form-control" tabindex="2" placeholder="Password">
            <div class="center">
              <input class="btn btn-warning" type="submit" name="loginbtn" id="loginbtn" value="Log In" tabindex="3">
            </div>
            <a href="/sign_up">Click Here to Register</a>
        </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div id="body" class="fluid-container page-content">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:#f0ad4e;">
      <div class="container page-content">
          <p class="text-muted">Created by <strong>Kae Sackett</strong> at Hackbright XI.
            <a href="http://www.github.com/kaesackett">GitHub</a> | 
            <a href="http://www.linkedin.com/in/kaesackett">LinkedIn</a> | 
            <a href="/myresumefilepath">Resume</a>
          </p>
      </div>
    </nav>
  </footer>

  <script>
    function showLogin(){
      $('div#login_modal').attr('style', 'display: block;');
    };

    $('button#showLogin').on('click', showLogin);
  </script>


</body>
</html>