{% extends "base.html" %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

{% block content %}

  <h3>Bills for Your House</h3>
    <ul>
    {% for bill in house_bills %}
      <li>Description: {{bill.description}}, Total: {{bill.amount}}</li>
    {% endfor %}
    </ul>
  <div>
    <h3>Your Unpaid Bills</h3>
    {% for bill in bills %}
    {% set user_portion = bill.amount / count %}
      <h4>{{bill.description}}</h4>
        <div>
          <p>
            Total Bill Amount: ${{"%0.2f" | format(bill.amount)}}<br>
            Your Portion: ${{"%0.2f" | format(user_portion)}}<br>
            Due Date: {{bill.due_date}}
          </p>
        </div>
    {% endfor %}
  </div>
  <form align="right" action="/add_bill">
    <button type="submit">Add Bill</button>
  </form>
  <form align="right" action="/edit_bills">
    <button type="submit">Edit Bills</button>
  </form>
{% endblock %}