{% extends "base.html" %}
{% block head %}

<!--FullCalendar Dependencies-->
<link href='static/js/fullcalendar.css' rel='stylesheet'>
<link href='static/js/fullcalendar.print.css' rel='stylesheet' media='print'>
<script src='static/js/lib/moment.min.js'></script>
<link rel="stylesheet" href="/static/css/style.css">


<!--FullCalendar-->
<script src='static/js/fullcalendar.min.js'></script>

<!-- Initialize the Calendar on Document Ready -->
<script type="text/javascript">
$(document).ready(function() {
	$.get('/calendar/events', function(data) {
		var myEvents = [];
			for (bill in data) {
				var myNewObject = {
					title: bill,
					start: data[bill]
				};
				myEvents.push(myNewObject);
				};
		$('#calendar').fullCalendar({
			editable: false,
			aspectRatio: 3,
			events: myEvents
		});
	});
});
</script>

{% endblock %}

{% block content %}
<div class="page-content img-rounded" id="calendar"></div>
{% endblock %}