{% extends "base.html" %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="/static/css/style.css">


{% block content %}
<div class="page-content">
  <h3>Bills</h3>

  <div>
    {% for bill in bills %}
    {% set user_portion = bill.amount / count %}
      <div class="img-rounded" id="editBillList">
      <h4 style="margin: 5px;">{{bill.description}}</h4>
        <div style="margin: 5px;" class="row">
          <p class="col-md-6">
            Total Bill Amount: ${{"%0.2f" | format(bill.amount)}}<br>
            Your Portion: {{user_portion}}<br>
            Due Date: {{bill.due_date}}
          </p>
          <form class="col-md-6" align="right" action="/edit_bill_handler">
            <input type="checkbox" name="bill_id" value="{{bill.bill_id}}">Paid
            <button class="btn btn-warning" type="submit">Submit Changes</button>
          </form>  
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}