{% extends "base.html" %}

{% block content %}
	<div class="page-content">
	    <ul class="list-group">
	    {% for roommate in roommates %}
	        <li style="background: rgba(240, 173, 78, 0.8); border: 1px solid white;" class="list-group-item">{{roommate.name}}, <span id="phone">{{roommate.phone}}</span></li>
	    {% endfor %}
	    </ul>
    </div>

	<div id="messageBoard" class="page-content img-rounded">
		<h1>Message Board</h1>
    		<div id="messageBox" class="img-rounded">Messages go here!
    		</div>
	</div>
    	
	<form align="right" class="form-group page-content">
		<textarea id="messageEntry" class="form-control" rows="3" name="content" placeholder="Your Message Here"></textarea>
		<button type="submit" id="submitButton" class="btn btn-warning"><strong>Send Message</strong></button>
	</form>
	<!-- Update message board on page load and when new message is submitted -->
	<script>
	var checkMessages = function (evt) {
		evt.preventDefault();
		$.get('/message_handler', {"content":$('#messageEntry').val()},  function (data) {
			$('#messageEntry').val("{{user.name}}:" + " ");
			$('#messageBox').html("");				
			for (var i = 0; i < data.messages.length; i++) {
				$('#messageBox').append(data.messages[i].content);
				$('#messageBox').append("<br>");
				};
			});
		};
	$('#submitButton').on('click', checkMessages)
	$(document).on('ready', checkMessages);
	</script>
{% endblock %}